.App
{
  text-align: center;
}

:root
{
  --color-brand-blue: #2874f0;
  --color-bg-grey   : #eef0f3; 
  --color-pure-white: white;
  --color-pure-black: #1a1a1a;
  --color-yellowish-orange: #ff9f00;
  --bluish-white    : #F5F7F9;
  --z-index-navbar  : 10;
}

html
{
  font-size: 62.5%;
  min-width: 900px;
}

.content-container
{
  min-width: fit-content;
  width: 100%;
  min-height: calc(100vh - 72px);
  padding: 8px 8px 0 8px;
  margin-top: 5.6rem;
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-bg-grey);
}